:root{
--primary-text-color: #757575;
--primery-title-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--footer-hero-background-color: #2F303A;
}

body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', variable;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.accent-logo {
    color: var(--accent-color);
}

.contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.hero,
.footer {
background: var(--footer-hero-background-color);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-white-color);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--primery-title-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
}

.staff-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
}

.section-staff {
    background-color: #F5F4FA;
}

.studio-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
}

.studio-button:hover,
.studio-button:focus {
    background-color: var(--accent-color);
}

.potfolio-button {
    cursor: pointer;
    background-color: #F5F4FA;
    color: var(--primery-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    font-family: inherit;
}

.potfolio-button:hover,
.potfolio-button:focus {
    background-color: var(--accent-color);
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-title-color);
}

.footer-logo{
    color: var(--primary-white-color);
}

.footer-link{
    color: rgba(255, 255, 255, 0.6);
}

.benefits-section .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.business-card .text{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.section-project .text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.address-text{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.list{
    list-style: none;
}